* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'Anton', sans-serif;
    background-color: rgb(255, 255, 255);
}

:root {
    --box-orange-color: rgba(255, 166, 0, 0.651);
    --box-blue-color: rgba(0, 60, 255, 0.562);
    --box-green-color: rgba(79, 196, 11, 0.856);
}

.header-top {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 50px;
    background-color: var(--box-green-color);
    transition: opacity 0.8s
}

.header-top-show {
    opacity: 1;
}

.game-header-container {
    opacity: 0;
    transform: scale(0);
    text-align: center;
    margin-top: 65px;
    font-size: 40px;
    margin-bottom: 0px;
    padding: 0;
    transition: all 0.8s
}
.game-header-container-show {
    opacity: 1; 
    transform: scale(1)
}

.score-results {
    margin-top: 12px;
    color:#fff;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}



.tic {

    color: var(--box-orange-color);
}

.tac {
    color: var(--box-green-color);   
}

.toe {
    color:var(--box-blue-color);
}

.copy {
    font-size: 25px;
    position: absolute;
    top: 10px;
    color:var(--box-green-color);
}

.grid {
    opacity: 1;
    width: 500px;
    margin: 0px auto 0 auto;
    transform: translateY(-5px);
    transition: opacity 0.8s;
}

.grid::after {
    content: "";
    clear: both;
    display: table
}

.btn {
    opacity: 1;
    font-family: 'Anton', sans-serif;
    margin: 0;
    padding: 0;
    width: 166.6px;
    height: 166.6px;
    /* width: 33.33%;
    height: 33.33%; */
    color:rgb(250, 250, 250);
    display: block;
    float: left;
    background-color: rgb(255, 255, 255);
    border:none;
    outline: none;
    border: 1px solid rgba(19, 18, 18, 0.185);
    font-size: 100px;
    cursor: pointer;
    z-index: 200;
    transform: scale(1);
    transition: all 0.5s;
}

.btn-show,
.btn:hover {
    background-color: rgba(240, 187, 41, 0.301); 
    background-color: var(--box-green-color); 
}



.game-status-container {
    margin-top: 20px;
}

.game-stats {
    text-align: center;
    color:rgb(27, 27, 27)!important;
}

.game-status-msg {
    color:#fff!important;
    opacity: 0;
    font-style: italic;
    color:rgb(27, 27, 27)!important;
    transition: all 0.7s;
    width: 600px;
    margin: 0 auto;
    letter-spacing: 20px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

}
.game-status-msg-show {
    opacity: 1;
    width: 400px;
    letter-spacing: 4px;
}


.play-again {
    display: block;
    width: 400px;
    margin: 5px auto;
    padding: 15px 15px;
    background-color: rgb(255, 166, 0);
    color:#fff;
    border: none;
    outline: none;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.5s;
    text-align:center;
    opacity: 0;
    font-size: 20px;
    visibility: hidden;
    z-index: -1;
    transform:scale(0.5);
    transition: all 0.7s;
}

.play-again-show {
    opacity: 1;
    transform:scale(1); 
    visibility: visible;
    z-index: 2; 
}

.play-again:hover {
    background-color: rgb(9, 134, 218);
}


